/* CSS Variables */
:root {
 --header-font: "Libre Baskerville", "Georgia", serif;
 --body-font: "Helvetica", "Arial", sans-serif;
 --primary-color: #3dc06c;
 --secondary-color:#2a2d2d;
 --background-color: #ffffff;
 --gray: #ccc;
--red: red;
 --text-color:#2a2d2d;
 /* Screen Sizes */
 --small: 450px;
 --medium: 800px;
}

/* Button Styles */
.button {
  display: inline-block;
  min-width: 130px;
  border-radius: 10px;
  padding: 7.5px 15px;
  border: 2px solid var( --primary-color);
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.8em;
  color: var(--text-color);
  border-color: var( --primary-color);
  background-color: var( --primary-color);
  text-align: center;
  transition: all 0.15s;
}
.button:hover {
  cursor: pointer;
  font-weight: bold;
  border-color: var( --primary-color);
  background-color: var( --primary-color);
}
.button:focus {
  border-color: var( --primary-color);
  background-color: var( --primary-color);
}
.button:disabled {
  cursor: auto;
  border-color: var( --gray);
  background-color: var( --gray);
}
.button:disabled:hover {
  font-weight: normal;
}
@media screen and (max-width: 450px) {
  .button {
    min-width: 100px;
  }
}

/* Page Styles */
html {
  font-size: 1.125em;
  color: var(--text-color);
}

body {
  font: 100% var(--body-font);
  background-color: var( --background-color);
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
}

.title {
  text-align: center;
  margin: 0;
  font-family: var(--header-font);
  color: var( --primary-color);
}

.content {
  width: 80%;
  margin: 0 auto;
}

video {
  border: 1px var( --secondary-color) solid;
  border-radius: 10px;
  /* 4:3 aspect ratio for large screen */
  width: 450px;
  height: 337.5px;
  margin: 0 7.5px;
}
video.loading {
  background: var( --primary-color) url("../media/loading.gif") no-repeat center;
  background-size: auto;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
}
@media screen and (max-width: var( --medium)) {
  video {
    margin: 0;
    height: 200px;
  }
}
@media screen and (max-width: var( --small)) {
  video {
    width: 100%;
  }
}

#me {
  transform: scaleX(-1);
}

#peerMutedSpan {
  color: var(--red);
  display: none;
}

/* Nav Styles */
nav {
  background-color: var( --primary-color);
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
}
nav a {
  color: var(--text-color);
  text-decoration: none;
}
nav a:hover {
  font-weight: bold;
}

.logo {
  width: 25px;
  height: auto;
}

/* Utilites */
/* margin classes */
.margin-top, .margin-y, .margin {
  margin-top: 15px;
}

.margin-bottom, .margin-y, .margin {
  margin-bottom: 15px;
}

.margin-x, .margin {
  margin-left: 15px;
  margin-right: 15px;
}

.margin-x-small {
  margin-left: 7.5px;
  margin-right: 7.5px;
}

/*flex divs */
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}