/* CSS Variables */
:root {
  --header-font: "Libre Baskerville", "Georgia", serif;
  --body-font: "Helvetica", "Arial", sans-serif;
  --primary-color: #3dc06c;
  --secondary-color:#2a2d2d;
  --background-color: #ffffff;
  --gray: #ccc;
  --text-color:#2a2d2d;
  /* Spacing */
  --nav-height: 50px;
  --border-radius: 10px;
  --margin-big: 15px;
  --margin-small: 7.5px;
}

/* Button Styles */
.button {
  display: inline-block;
  min-width: 130px;
  border-radius: var(--border-radius);
  padding: 7.5px 15px;
  border: 2px solid var( --primary-color);
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.8em;
  color: var(--text-color);
  border-color: var( --primary-color);
  background-color: var( --primary-color);
  text-align: center;
  transition: all 0.15s;
}
.button:hover {
  cursor: pointer;
  font-weight: bold;
  border-color: var( --primary-color);
  background-color: var( --primary-color);
}
.button:focus {
  border-color: var( --primary-color);
  background-color: var( --primary-color);
}
.button:disabled {
  cursor: auto;
  border-color: var( --gray);
  background-color: var( --gray);
}
.button:disabled:hover {
  font-weight: normal;
}
@media screen and (max-width: 450px) {
  .button {
    min-width: 100px;
  }
}

/* Page Styles */
html {
  font-size: 1.125em;
  color: var(--text-color);
}

body {
  font: 100% var(--body-font);
  background-color: var( --background-color);
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
}

.title {
  text-align: center;
  margin: 0;
  font-family: var(--header-font);
  color: var( --primary-color);
}

.content {
  width: 80%;
  margin: 0 auto;
}

.video-container {
  position: relative;
}

.mute-icon {
  z-index: 100;
  width: 80px;
  position: absolute;
  bottom: var(--margin-big);
  right: var(--margin-big);
  display: none;
}

video {
  border: 1px var( --secondary-color) solid;
  border-radius: var(--border-radius);
  /* 4:3 aspect ratio for large screen */
  width: 450px;
  height: 337.5px;
  margin: 0 var(--margin-small);
}
video.loading {
  background: var( --primary-color) url("../media/loading.gif") no-repeat center;
  background-size: auto;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
}
@media screen and (max-width: 800px) {
  video {
    margin: 0;
    height: 200px;
  }
}
@media screen and (max-width: 450px) {
  video {
    width: 100%;
  }
}

.name-tag {
  margin: 0 var(--margin-small);
  width: 450px;
  min-height: 20px;
  border: 2px solid var( --primary-color);
  border-radius: var(--border-radius);
  text-align: center;
  padding: 15px 0px;
}
@media screen and (max-width: 800px) {
  .name-tag {
    margin: 0;
  }
}
@media screen and (max-width: 450px) {
  .name-tag {
    width: 100%;
  }
}


#me {
  transform: scaleX(-1);
}

/* Nav Styles */
nav {
  background-color: var( --primary-color);
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: var(--nav-height);
}
nav a {
  color: var(--text-color);
  text-decoration: none;
}
nav a:hover {
  font-weight: bold;
}

.logo {
  width: 25px;
  height: auto;
}

/* Utilites */
/* margin classes */
.margin-top, .margin-y, .margin {
  margin-top: var(--margin-big);
}

.margin-bottom, .margin-y, .margin {
  margin-bottom: var(--margin-big);
}

.margin-x, .margin {
  margin-left: var(--margin-big);
  margin-right: var(--margin-big);
}

.margin-x-small {
  margin-left: var(--margin-small);
  margin-right: var(--margin-small);
}

/*flex divs */
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}