html {
  font-size: 1.125em;
  color: $text-color;
}

body {
  font: 100% $body-font;
  background-color: $background-color;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
}

.title {
  margin: 0;
  font-family: $headings-font;
  color: $primary-color;
}

.content {
  width: 80%;
  margin: 0 auto;
}

video {
  border: 1px $secondary-color solid;
  border-radius: 10px;
  /* 4:3 aspect ratio for large screen */
  width: 450px;
  height: 337.5px;
  margin: 0 7.5px;
  @media screen and (max-width: $medium) {
    margin: 0;
    height: 200px;
  }
  @media screen and (max-width: $small) {
    width: 100%;
  }
  &.loading {
    background: $primary-color url("../media/loading.gif") no-repeat center;
    background-size: auto;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
  }
}

#me {
  transform: scaleX(-1);
}

#peerMutedSpan {
  color: red;
  display: none;
}
