nav {
  background-color: $primary-color;
  color: $secondary-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
  a {
    color: $secondary-color;
    text-decoration: none;
    &:hover {
      font-weight: bold;
    }
  }
}

.logo {
  width: 25px;
  height: auto;
}
