.vertical-center {
  margin: 0 auto;
}

//margin classes
.margin-top {
  margin-top: 15px;
}
.margin-bottom {
  margin-bottom: 15px;
}
.margin-y {
  @extend .margin-top, .margin-bottom;
}

.margin-x {
  margin-left: 15px;
  margin-right: 15px;
}

.margin-x-small {
  margin-left: 7.5px;
  margin-right: 7.5px;
}

.margin {
  @extend .margin-y, .margin-x;
}
