$headings-font: "Libre Baskerville", "Georgia", serif;
$body-font: "Helvetica", "Arial", sans-serif;
$primary-color: #3dc06c;
$secondary-color: #2a2d2d;
$background-color: #ffffff;
$gray: #ccc;
$text-color: #2a2d2d;

//screen size variables
$small: 450px;
$medium: 800px;
$large: 1200px;
